<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ndd.Heartbeat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Active" value="true" />
    <add key="WSURL" value="https://appconnectorhl.ndd.com.br/ndd.Heartbeat.Server.Dev/Service.asmx" />
  </appSettings>
  <applicationSettings>
    <ndd.Heartbeat.Properties.Settings>
      <setting name="ndd_Heartbeat_WS_Service" serializeAs="String">
        <value>http://localhost:15047/Service.asmx</value>
      </setting>
    </ndd.Heartbeat.Properties.Settings>
  </applicationSettings>
</configuration>