<?xml version="1.0" encoding="utf-16"?>
<GeneralConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ConfigurationLoggerFilePath>C:\Program Files\NDDigital\AppConnector\Business\FiatMQ\Instance_FiatMQ\AppConnector.DIR\Bin\logger.xml</ConfigurationLoggerFilePath>
  <DbProviderType>File</DbProviderType>
  <ConnectionString>C:\Program Files\NDDigital\AppConnector\Business\FiatMQ\Instance_FiatMQ\AppConnector.DIR\Bin\exportContext.data</ConnectionString>
  <FunctionAssembliesPath>C:\Program Files\NDDigital\AppConnector\Business\FiatMQ\Instance_FiatMQ\AppConnector.DIR\Bin\Functions</FunctionAssembliesPath>
  <ProjectInUseIdentifier>938f9978-836f-48c1-9c0f-c2898caf4b20</ProjectInUseIdentifier>
  <DirectoryBackup>C:\NDDigital\AppConnector\Business\FiatMQ\Instance_FiatMQ\AppConnector.DIR\Bin</DirectoryBackup>
  <LicenseCode>A2C5RXy9qo2SwEKpIgEd4F7/bvFrhtPDIVS8vF/l7AipwjJmnPHieDdFWqIl84j56ct6VuALT4KqJ+qiYJnCmCwdv8u3Rw721hIjiWVJ0D66sO28+9jRbyqYrhtanSUSsfzoLAnvhDlVCbo1Ep8sJZMPry+0J7zLsXCm9ZweBAj3oiGt9UoFxglbxAkHoooO1h1wEPOflPdSXoi2tcKe0DKeAXCHmPvMZyiFvV20xbkoAc=</LicenseCode>
  <ConnectionStringItens />
  <Encoding>Default/ANSI/1252</Encoding>
  <InformationData>M4CcDVb1yD9VR/G2lpcOZl783MWTKTR1JDR+ZfrEVBm+8OO1vS/mJ3eRqHie4Ye2sMjOQ1MsyYl+7afDRLdWi9QH2aUpkpuYA1itchqXlmZ9fSZ3oCsn3wMGVTyWIeBwsQtBJlL6Hx33AYFWZpyemwha4b2lK7e45I5xkbaZzv2UHa2bcu9DrH7EeMoRXl7rvvKiXYbiGk0eveW59sOxExfJb0jRltyGNKS6EI/rFCwPxX152wswBFRFBkpx8VV5s3sr5rqh2FkSZ5L14KtffuAIwxoI+LAV5D4YchtkPzI7CUYkW+hc5BOmaNocziyr92tNLyNrwC3kzE77wrz7B0QICTPf5iJXrXjYIa6XVyk+Pi+j0kOfAdhaYs7ftNvfvvoW7rEe0eaBE/Q2hxp8agB4dPbbc6RpVS3StZ4FpJmd8p2z6ORVMS3wWI4t2W4w63C</InformationData>
</GeneralConfiguration>